<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ site_name }}</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
<div class="container-fluid" style="min-height:95%; padding-right:3%; padding-left:3%">
	<br>
	<div class="row">
		<h1 class="display-3" style="padding: 2%; ">Informatics</h1>
	</div>
	<hr>

	<div class="row">
		<div class="col-sm-2">

			<div class="btn-group-vertical btn-group-lg" style="padding: 5%;">

				<a class="btn btn-outline-success" href="/" style="background-color: #fff; ">Home</a>
				<a class="btn btn-outline-success" href="/price_estimation" style="background-color: #fff; ">Price
					Estimation Tool</a>
				<a class="btn btn-outline-success" href="/bookings_optimization" style="background-color: #fff; ">Bookings
					Optimization Tool</a>
				<a class="btn btn-outline-success" href="/investing" style="background-color: #fff; ">Investment Strategy</a>
				<a class="btn btn-outline-success" href="/informatics" style="background-color: #fff; ">Informatics</a>

			</div>

		</div>

        <div class="col-sm-5" style="padding-left: 3%; ">
            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
					<div class="card-body">
                        <center><h4 class="card-title">Neighborhood Popularity</h4></center>
                        <div class="row">
                            <div class="column-sm3" style="padding-right: 20%; padding-left: 15%;">
                                <p class="card-text">
                                    Bayview<br>
                                    Bernal<br>
                                    Castro/Upper Market<br>
                                    Chinatown<br>
                                    Crocker Amazon<br>
                                    Diamond Heights<br>
                                    Downtown/Civic Center<br>
                                    Excelsior<br>
                                    Financial District<br>
                                    Glen Park<br>
                                    Golden Gate Park<br>
                                    Haight Ashbury<br>
                                    Inner Richmond<br>
                                    Inner Sunset<br>
                                    Lakeshore<br>
                                    Marina<br>
                                    Mission<br>
                                    Nob Hill<br>
                                    Noe Valley<br>
                                    North Beach<br>
                                    Ocean View<br>
                                    Outer Mission<br>
                                    Outer Richmond<br>
                                    Outer Sunset<br>
                                    Pacific Heights<br>
                                    Parkside<br>
                                    Potrero Hill<br>
                                    Presidio<br>
                                    Presidio Heights<br>
                                    Russian Hill<br>
                                    Seacliff<br>
                                    South of Market<br>
                                    Treasure Island/YBI<br>
                                    Twin Peaks<br>
                                    Visitacion Valley<br>
                                    West of Twin Peaks<br>
                                    Western Addition<br>
                                </p>
                            </div>

                            <div class="column-sm3">

                                <p class="card-text">
                                    {{ Bayview }} %<br>
                                    {{ BernalHeights }} %<br>
                                    {{ CastroUpperMarket }} %<br>
                                    {{ Chinatown }} %<br>
                                    {{ CrockerAmazon }} %<br>
                                    {{ DiamondHeights }} %<br>
                                    {{ DowntownCivicCenter }} %<br>
                                    {{ Excelsior }} %<br>
                                    {{ FinancialDistrict }} %<br>
                                    {{ GlenPark }} %<br>
                                    {{ GoldenGatePark }} %<br>
                                    {{ HaightAshbury }} %<br>
                                    {{ InnerRichmond }} %<br>
                                    {{ InnerSunset }} %<br>
                                    {{ Lakeshore }} %<br>
                                    {{ Marina }} %<br>
                                    {{ Mission }} %<br>
                                    {{ NobHill }} %<br>
                                    {{ NoeValley }} %<br>
                                    {{ NorthBeach }} %<br>
                                    {{ OceanView }} %<br>
                                    {{ OuterMission }} %<br>
                                    {{ OuterRichmond }} %<br>
                                    {{ OuterSunset }} %<br>
                                    {{ PacificHeights }} %<br>
                                    {{ Parkside }} %<br>
                                    {{ PotreroHill }} %<br>
                                    {{ Presidio }} %<br>
                                    {{ PresidioHeights }} %<br>
                                    {{ RussianHill }} %<br>
                                    {{ Seacliff }} %<br>
                                    {{ SouthofMarket }} %<br>
                                    {{ TreasureIslandYBI }} %<br>
                                    {{ TwinPeaks }} %<br>
                                    {{ VisitacionValley }} %<br>
                                    {{ WestofTwinPeaks }} %<br>
                                    {{ WesternAddition }} %<br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5" style="padding-right: 3%; ">
            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
					<div class="card-body">
                    <p>These are the average ratings per neighborhood over the last few months, which effectively
                        demonstrate which neighborhoods are the most popular and which are the least. This data can
                        mean a lot of things, but it would probably be smart to invest in low popularity neighborhoods,
                        as your competition will be significantly less impressive</p>
                    </div>
                </div>
            </div>

            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <img src="static/main/img/neighborhood_popularity_graph.png" alt="graph" style="width: 95%;">
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
		<div class="col-sm-2">
		</div>

        <div class="col-sm-5" style="padding-left: 3%; ">
            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
					<div class="card-body">
                        <center><h4 class="card-title">Neighborhood Average Daily Price per Bedroom</h4></center>
                        <div class="row">
                            <div class="column-sm3" style="padding-right: 20%; padding-left: 15%;">
                                <p class="card-text">
                                    Bayview<br>
                                    Bernal<br>
                                    Castro/Upper Market<br>
                                    Chinatown<br>
                                    Crocker Amazon<br>
                                    Diamond Heights<br>
                                    Downtown/Civic Center<br>
                                    Excelsior<br>
                                    Financial District<br>
                                    Glen Park<br>
                                    Golden Gate Park<br>
                                    Haight Ashbury<br>
                                    Inner Richmond<br>
                                    Inner Sunset<br>
                                    Lakeshore<br>
                                    Marina<br>
                                    Mission<br>
                                    Nob Hill<br>
                                    Noe Valley<br>
                                    North Beach<br>
                                    Ocean View<br>
                                    Outer Mission<br>
                                    Outer Richmond<br>
                                    Outer Sunset<br>
                                    Pacific Heights<br>
                                    Parkside<br>
                                    Potrero Hill<br>
                                    Presidio<br>
                                    Presidio Heights<br>
                                    Russian Hill<br>
                                    Seacliff<br>
                                    South of Market<br>
                                    Treasure Island/YBI<br>
                                    Twin Peaks<br>
                                    Visitacion Valley<br>
                                    West of Twin Peaks<br>
                                    Western Addition<br>
                                </p>
                            </div>

                            <div class="column-sm3">

                                <p class="card-text">
                                    {{ Bayviewmon }}<br>
                                    {{ BernalHeightsmon }}<br>
                                    {{ CastroUpperMarketmon }}<br>
                                    {{ Chinatownmon }}<br>
                                    {{ CrockerAmazonmon }}<br>
                                    {{ DiamondHeightsmon }}<br>
                                    {{ DowntownCivicCentermon }}<br>
                                    {{ Excelsiormon }}<br>
                                    {{ FinancialDistrictmon }}<br>
                                    {{ GlenParkmon }} <br>
                                    {{ GoldenGateParkmon }}<br>
                                    {{ HaightAshburymon }}<br>
                                    {{ InnerRichmondmon }}<br>
                                    {{ InnerSunsetmon }}<br>
                                    {{ Lakeshoremon }}<br>
                                    {{ Marinamon }}<br>
                                    {{ Missionmon }}<br>
                                    {{ NobHillmon }}<br>
                                    {{ NoeValleymon }}<br>
                                    {{ NorthBeachmon }}<br>
                                    {{ OceanViewmon }}<br>
                                    {{ OuterMissionmon }}<br>
                                    {{ OuterRichmondmon }}<br>
                                    {{ OuterSunsetmon }}<br>
                                    {{ PacificHeightsmon }}<br>
                                    {{ Parksidemon }}<br>
                                    {{ PotreroHillmon }}<br>
                                    {{ Presidiomon }}<br>
                                    {{ PresidioHeightsmon }}<br>
                                    {{ RussianHillmon }}<br>
                                    {{ Seacliffmon }}<br>
                                    {{ SouthofMarketmon }}<br>
                                    {{ TreasureIslandYBImon }}<br>
                                    {{ TwinPeaksmon }}<br>
                                    {{ VisitacionValleymon }}<br>
                                    {{ WestofTwinPeaksmon }}<br>
                                    {{ WesternAdditionmon }}<br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5" style="padding-right: 3%; ">
            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
					<div class="card-body">
                    <p>These are the average prices per bedroom of each neighborhood, which effectively demonstrates
                        which neighborhoods are pricier than others. Just as the last set of data, the meaning is open
                        to interpretation, but it would be smart to assume that one should invest in the neighborhoods
                        with higher average returns. However, this website doesn't have access to property value at
                        the moment, which is crucial for investment strategy analysis, so it only shows which
                        neighborhoods have the highest revenue. This seems good, but it is extremely likely that these
                        neighborhoods also have much, much higher property values, which might make lower returning
                        neighborhoods more worthy of investment</p>
                    </div>
                </div>
            </div>

            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <img src="static/main/img/neighborhood_avg_price.png" alt="graph">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10" style="padding-right: 3%; ">
            <div class="card-deck" style="width: 100%;">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <img src="static/main/img/avg_daily_prices.png" alt="graph" style="width: 95%;">
                        <p> The above graph demonstrates how ABnB hosts like to raise their prices during weekends,
                            which supports the assumption that specific date really matters in the bookings
                            optimization problem</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="/about">About</a> | <a href="#" target="blank">Github Repository</a>
		</div>
	</footer>

</body>

</html>